fieldset {
  background: lightyellow;
  border: 10px solid yellow;
  margin-bottom: 10px;
  width: 720px;
}

label {
  width: 180px;
  display: inline-block;
  text-align: right;
  vertical-align: top;
  width: auto;
}

.options {
  width: auto;
}

span {
  text-align: center;
  vertical-align: top;
  color: white;
}

.min {
  background: brown;
}

.max {
  background: purple;
}

textarea {
  width: 360px;
  height: 50px;
}
